section {
    text-align: center;
    font-size: 18px;
}

button {
    font-size: 18px;
    padding: 7px;
    margin: 5px;
}

#computer {
    width: 170px;
    height: 280px;
    background: url('/static/image/game/game.jpg') 0 0;
    display: inline-block;
}

#init {
    display: none;
}