section textarea{
    border-radius: 5px;
    border-color: gray;
    resize: none;
    width: 100%;
    
}

section h1 {text-align: center;}

section div p{display: inline;}

section div input{
    display: inline;
    margin-left: 10px;
}

.div{
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}

.input {float: right;}