<link rel="stylesheet" href="/static/css/intro.css">
{% extends "base.html" %}
{% block section %}
<body>
    <div class="slide">
        <ul>
            <li><br>Reason for development<br><br><br>
                자유로운 도서대여와<br>커뮤니케이션을 위해 공간창출
            </li>
            <li><br>Community<br><br><br>
                신일석 선생님과 학생들의 소통의 공간<br>
            </li>
            <li><br>Book<br><br><br>
                책은 당신을 배신하지 않는다.
            </li>
            <li><br>Developer<br><br><br>
            팀장 - 장원준<br>
            팀원 - 김현정, 이재형, 윤세일
            </li>
        </ul>
    </div>
</body>

{% endblock %}