<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opening</title>
    <link rel="stylesheet" href="/static/css/opening.css">
</head>
<body>
    <h2>
        <span>한국정보교육원</span>  
        <span class="light" onclick="location.href='/main'" style="cursor:pointer;">Community</span> 
        <span>Coding</span>
        <span>Developer</span>
        <span>With. 신일석</span>  
    </h2>
</body>
</html>